.parent-container {
 display: flex;
 flex-wrap: wrap;
}

 .box-one, .box-two, .box-three, .box-four, .box-five, .box-six {
   background-color: #F48C06;
   width: 468px;
   height: 160px;
   display: flex;
   align-items: center;
   margin-right: 20px;
   margin-bottom: 20px;
 }

 .box-one1, .box-one2, .box-one3 {
   background-color: #9D0208;
   width: 78px;
   height: 78px;
   margin-left: 20px;
   justify-content: flex-start;
   align-items: flex-end;
 }

 .box-two {
  justify-content: center;
 }

 .box-two1, .box-two2, .box-two3 {
   background-color: #9D0208;
   width: 78px;
   height: 120px;
   min-height: 78px;
   margin: 10px;
   align-items: stretch;
 }

 .box-three {
   justify-content: flex-end;
 }

 .box-three1, .box-three2, .box-three3 {
   background-color: #9D0208;
   width: 78px;
   height: 78px;
   margin-right: 20px;
 }

 .box-four {
  justify-content: space-around;
  align-items: flex-start;

 }

 .box-four1 {
   background-color: #9D0208;
   width: 78px;
   height: 78px;
   justify-items: center;
   margin-top: 20px;
 }

 .box-four2 {
   background-color: #9D0208;
   width: 78px;
   height: 78px;
   margin: 20px;
  justify-content:center;
 }

 .box-four3 {
   background-color: #9D0208;
   width: 78px;
   height: 78px;
   align-items: flex-end;
 }

 .box-five {
  align-items: center;
  justify-content: center;
  text-align:center;

 }
 .box-five1 {
   background-color: #9D0208;
   width: 78px;
   height: 120px;
   margin: 20px;
 }

 .box-five2 {
   background-color: #9D0208;
   width: 78px;
   height: 64px;
   margin: 20px;
 }

 .box-five3 {
   background-color: #9D0208;
   width: 78px;
   height: 120px;
   margin: 20px;
 }

.box-six {
   justify-content: space-around;
   align-items:center;
}

 .box-six1 {
   background-color: #9D0208;
   width: 78px;
   height: 78px;
   margin: 10px;
 }

 .box-six2 {
   background-color: #9D0208;
   /* width: 156px; */
   height: 78px;
   margin: 10px;
   flex-grow: 2;
 }

 .box-six3 {
   background-color: #9D0208;
   width: 78px;
   height: 78px;
   margin: 10px;
 }
